@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: black;
  color: white;
  height: 70px;
  font-size: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.navbar ul {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vh);
  font-family: "Roboto", sans-serif;
}

.box {
  border: 2px solid black;
  font-size: 5vw;
  transition: background 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(45, 52, 54, 1);
}

.box:hover {
  background-color: rgba(108, 92, 231, 1);
  cursor: pointer;
}
.boxtext {
  color: rgba(241, 196, 15, 1);
}
.board-info {
  padding: 0 34px;
}

.img-box img {
  width: 0;
  transition: width 1s ease-in-out;
}

#reset {
  padding: 4px 25px;
  margin: 10px 23px;
  border-radius: 10px;
  font-size: 16px;
  background-color: red;
}

.info {
  font-size: 25px;
}

@media screen and (max-width: 700px) {
  .container {
    flex-wrap: wrap;
  }

  .board-info {
    margin-top: 30px;
  }

  .board-info h1 {
    font-size: 1.4rem;
  }
  .board {
    grid-template-rows: repeat(3, 18vw);
    grid-template-columns: repeat(3, 18vw);
  }
  .boxtext {
    font-weight: bold;
    font-size: 1.4rem;
  }
}
